{% extends 'base.html' %}

{% block title %}Norda{% endblock %}

{% block content %}
<div class="container is-max-desktop">
	<section class="hero is-medium is-info is-bold mt-5">
		<div class="hero-body">
			<h1 class="title is-size-1 has-text-centered has-text-weight-bold is-family-secondary block">
				WordPress hosting made simple.
			</h1>
			<h2 class="subtitle has-text-centered">
				<strong>A trusted hosting provider for freelancers & professionals.</strong>
			</h2>
		</div>
	</section>

	<div class="item columns mt-3">
	    <div class="column is-4">
	    	<div class="box">
		    	<p class="is-size-2 has-text-weight-bold has-text-centered">
		    		<span class="icon">
		    			<i class="far fa-user"></i>
	          		</span>
	        	</p>
	        	<h4 class="title is-6 has-text-weight-bold has-text-centered">PERSONAL</h4>
	        </div>
	    </div>

	    <div class="column is-4">
	    	<div class="box">
		    	<p class="is-size-2 has-text-weight-bold has-text-centered">
		    		<span class="icon">
		    			<i class="fas fa-cogs"></i>
	          		</span>
	        	</p>
	        	<h4 class="title is-6 has-text-weight-bold has-text-centered">AUTOMATIC</h4>
	        </div>
	    </div>

	    <div class="column is-4">
	    	<div class="box">
		    	<p class="is-size-2 has-text-weight-bold has-text-centered">
		    		<span class="icon">
		    			<i class="fas fa-chart-line"></i>
	          		</span>
	        	</p>
	        	<h4 class="title is-6 has-text-weight-bold has-text-centered">ACTIVE MANAGEMENT</h4>
	        </div>
	    </div>
	</div>
</div>
{% endblock %}