{% extends 'base.html' %}

{% block title %}finyzz{% endblock %}

{% block content %}

<div class="container is-max-widescreen">
	<section class="hero is-fullheight">
		<div class="hero-body">
			<div class="container hero-block pricing-block">
				<div class="columns is-centered hero-section">
	                <div class="columns">
	                    <div class="column block is-6 ">
	                        <h1 class="title is-size-2 has-text-weight-bold">One single plan.</h1>
	                        <h3 class="subtitle is-size-4 has-text-weight-bold">No hidden fees.</h3>
	                        <h3 class="mt-2 "><b>Why?</b> Because we believe that organisations of all sizes should be able to track and resolve incidents to gain customer confidence.</h3>
	                        <div class="mt-2">
	                            <strong>
	                                No credit card required • Risk free 14-day trial • Cancel anytime
	                            </strong>
	                        </div>
	                    </div>

	                    <div class="column block is-6">
	                        <div class="box">
	                            <h3>
	                                <span class="has-text-weight-bold is-size-2 pricing">19€</span>
	                                <span class="has-text-weight-bold"> / month</span>
	                            </h3>
		                            <div class="columns">
		                            	<div class="column is-6">
		                                    <p><svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24" style="fill: var(--black); widthL 20px; height: 20px;"><path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z"></path></svg> Unlimited access</p>
		                                    <p class="feature-list mt-1"><svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24" style="fill: var(--black); widthL 20px; height: 20px;"><path d="M0 0h24v24H0z" fill="none"></path><path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z"></path></svg> Unlimited alerts</p>
		                                    <p class="feature-list mt-1"><svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24" style="fill: var(--black); widthL 20px; height: 20px;"><path d="M0 0h24v24H0z" fill="none"></path><path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z"></path></svg> Email support</p>
	                                	</div>
	                                	<div class="column is-6">
		                                    <p><svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24" style="fill: var(--black); widthL 20px; height: 20px;"><path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z"></path></svg> Unlimited access</p>
		                                    <p class="feature-list mt-1"><svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24" style="fill: var(--black); widthL 20px; height: 20px;"><path d="M0 0h24v24H0z" fill="none"></path><path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z"></path></svg> Unlimited alerts</p>
		                                    <p class="feature-list mt-1"><svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24" style="fill: var(--black); widthL 20px; height: 20px;"><path d="M0 0h24v24H0z" fill="none"></path><path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z"></path></svg> Email support</p>
	                                	</div>
	                                </div>
	                            </div>
	                            <button class="button is-block is-fullwidth is-info" type="submit">
	                            	<strong>Start</strong>
					            </button>
	                        </div>
	                    </div>
	                </div>
				</div>
			</div>
		</div>
	</section>
</div>

{% endblock %}