{% extends 'base.html' %}

{% block title %}finyzz{% endblock %}

{% block content %}
<div class="container is-max-widescreen">
	<section class="hero is-fullheight">
	    <div class="hero-body has-text-centered">
	      	<div class="signup-login">
		        <h1 class="mt-5 mb-6 is-size-2 has-text-weight-bold is-family-secondary">Password resset</h1>
		        <form action="" method="POST">
		        	<div class="field">
			            <div class="control">
			            	{{ form.csrf_token }}
			            	{{ form.password(class="input is-medium") }}
			            </div>
			            <br>
			            {{ form.submit(class="button is-info is-block is-fullwidth has-text-weight-bold is-medium") }}
		          	</div>
		        </form>
	      	</div>
	    </div>
	</section>
</div>
{% endblock %}