{% extends 'base.html' %}

{% block title %}Norda{% endblock %}

{% block content %}
<div class="container is-max-desktop">
	{% with messages = get_flashed_messages(with_categories=true) %}
		{% if messages %}
			{% for category, message in messages %}
				<div class="notification is-light {{ category }}">
					<button class="delete"></button>
					{{ message }}
				</div>
			{% endfor %}
		{% endif %}
	{% endwith %}
	
	<section class="hero is-fullheight">
	    <div class="hero-body has-text-centered">
	      	<div class="signup-login">
		        <img src="https://logoipsum.com/logo/logo-1.svg" width="325px" />
		        <form action="/reset_password" method="POST">
		        	<div class="field">
			            <div class="control">
			            	<input class="input is-normal" type="email" autocomplete="email" name="email" placeholder="email" required />
			            </div>
			            <br>
		          		<button class="button is-block is-fullwidth is-info is-medium has-text-weight-bold" type="submit">
		          			REQUEST PASSWORD RESET
            			</button>
		          	</div>
		        </form>
	      	</div>
	    </div>
	</section>
</div>
{% endblock %}