{% extends 'base.html' %}

{% block title %}Norda{% endblock %}

{% block content %}
  <div class="container is-max-desktop">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="notification is-danger is-light">
          <button class="delete"></button>
          {{ messages[0] }} Go to <a href="{{ url_for('auth.login')}}">Login page</a>
        </div>
      {% endif %}
    {% endwith %}

    <section class="hero is-fullheight">
      <div class="hero-body has-text-centered">
        <div class="signup-login">
          <h1 class="mt-5 mb-6 is-size-2 has-text-weight-bold is-family-secondary">Sign up</h1>
          <form action="/signup" method="POST">
            <div class="field">
              <div class="control">
                <input class="input is-medium" type="username" placeholder="Username" autocomplete="username" name="username" required />
              </div>
            </div>
            <div class="field">
              <div class="control">
                <input class="input is-medium" type="password" placeholder="Password" autocomplete="current-password" name="password" required />
              </div>
            </div>
            <br />
            <button class="button is-block is-fullwidth is-info is-medium" type="submit">
              <strong>SUBMIT</strong>
            </button>
          </form>
        </div>
      </div>
    </section>
  </div>
{% endblock %}