{% extends 'base.html' %}

{% block title %}finyzz{% endblock %}

{% block content %}
  <div class="container is-max-widescreen">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="notification is-danger is-light">
          <button class="delete"></button>
          {{ messages[0] }} Go to <a href="{{ url_for('auth.login')}}">Login page</a>?
        </div>
      {% endif %}
    {% endwith %}

    <section class="hero is-fullheight">
      <div class="hero-body">
        <div class="signup-login">
          <h1 class="mt-5 mb-6 is-size-2 has-text-weight-bold is-family-secondary has-text-centered">Sign up</h1>
          <form method="POST" action="">
            {{ form.csrf_token }}
            <div class="field">
              <div class="control">
                {% if form.username.errors %}
                  {{ form.username(class="input is-medium is-danger") }}
                  <div class="mt-2 is-size-7 has-text-danger">
                    {% for error in form.username.errors %}
                      <span>{{ error }}</span>
                    {% endfor %}
                  </div>
                {% else %}
                  {{ form.username(class_="input is-medium") }}
                {% endif %}
              </div>
            </div>
            <div class="field">
              <div class="control">
                {% if form.password.errors %}
                  {{ form.password(class="input is-medium is-danger") }}
                  <div class="mt-2 is-size-7 has-text-danger">
                    {% for error in form.password.errors %}
                      <span>{{ error }}</span>
                    {% endfor %}
                  </div>
                {% else %}
                  {{ form.password(class_="input is-medium") }}
                {% endif %}
              </div>
            </div>
            <br/>
            {{ form.submit(class_="button is-info is-fullwidth has-text-weight-bold is-medium") }}
          </form>
        </div>
      </div>
    </section>
  </div>
{% endblock %}